# Google Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Google Ads
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_ID=AW-17412334425
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_LABEL=U0BGCJ38kfsaENnG7O5A

# Meta Pixel
NEXT_PUBLIC_META_PIXEL_ID=629170936404621

# Site URL
NEXT_PUBLIC_SITE_URL=https://yourdomain.com
NEXT_PUBLIC_N8N_WEBHOOK_URL=https://n8n-service-2978.onrender.com/webhook-test/6c87f17f-0b40-4b54-8019-a24d24cc6539